<!-- Javascript -->
<script type="text/javascript">


if (document.URL == 'https://resume.subvertec.com/print'){
  var wrapper = document.getElementsByClassName('wrapper');
  var main = document.getElementsByClassName('main-wrapper'); 
  wrapper.style.overflow = 'visible';
  main.style.overflow = 'auto';
}

</script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/plugins/jquery-1.11.3.min.js"
></script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/plugins/bootstrap/js/bootstrap.min.js"
></script>
{% if site.analytics %} {% include analytics.html %} {% endif %}
